<%= render("shared/new_button", target: new_union_landlord_path) if can? :create, Landlord %>

<table class="w-full whitespace-no-wrap">
  <thead>
    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      <th class="px-4 py-3">Name</th>
      <th class="py-3">Overall Rating</th>
      <th class="py-3">Repairs Rating</th>
      <th class="py-3">Number of Reviews</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
    <% @landlords.each do |landlord| %>
      <tr class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3"><%= link_to landlord.name, [:union, landlord] %></td>
        <td class="py-3"><%= rating_grade(landlord.ratings.overall_average) %></td>
        <td class="py-3"><%= rating_grade(landlord.ratings.repairs_average) %></td>
        <td class="py-3"><%= landlord.ratings.size %></td>
        <td class="py-3"><%= link_to 'Edit', edit_union_landlord_path(landlord) if can? :edit, landlord %></td>
        <td class="py-3"><%= link_to 'Destroy', [:union,landlord], method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, landlord %></td>
      </tr>
    <% end %>
  </tbody>
</table>