<p id="notice"><%= notice %></p>

<h1>Landlords</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @landlords.each do |landlord| %>
      <tr>
        <td><%= link_to landlord.name, [:union, landlord] %></td>
        <td><%= link_to 'Edit', edit_union_landlord_path(landlord) if can? :edit, landlord %></td>
        <td><%= link_to 'Destroy', [:union,landlord], method: :delete, data: { confirm: 'Are you sure?' } if can? :destroy, landlord %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Landlord', new_union_landlord_path if can? :create, Landlord %>
