<%= render("shared/edit_button", target: edit_union_landlord_path(@landlord)) if can? :edit, @landlord %> | 
<%= render("shared/back_button") %>

<%= render partial: "tenancies/rating_card", object: @landlord.ratings, locals: { score: :overall_average } %>
<%= render partial: "tenancies/rating_card", object: @landlord.ratings, locals: { score: :repairs_average } %>


<h3>Known Units</h3>
  <%= render partial: "union/units/unit_card", collection: @units %>

<h3>Reviews of this Landlord</h3>
  <%= render partial: "union/tenancies/review_card", collection: @tenancies %>