<%= form_with(model: [:union,unit], local: true) do |form| %>
  <% if unit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(unit.errors.count, "error") %> prohibited this unit from being saved:</h2>

      <ul>
        <% unit.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>


  <div>
    <%= form.label :address do %>
      <span>Address</span>
      <%= form.text_field :address %>
    <% end %>  
  </div>


  <div>
    <%= form.label :number_of_occupants do %>
      <span>Number of Occupants</span>
      <%= form.text_field :number_of_occupants %>
    <% end %>  
  </div>

  <div>
    <%= form.label :building_type do %>
      <span>
        Requested Limit
      </span>
      <%= form.collection_select :building_type, Unit.building_types, :first, :last, {}, { } %>
    <% end %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>



