<p id="notice"><%= notice %></p>

<p>
  <strong>Address:</strong>
  <%= @unit.address %>
</p>

<p>
  <strong>Landlord:</strong>
  <%= @unit.landlord_id %>
</p>

<%= link_to 'Edit', edit_unit_path(@unit) %> |
<%= link_to 'Back', units_path %>
