<%= render partial: "union/units/unit_card", object: @unit %>

<div>
<%= render partial: "tenancies/rating_card", object: @unit.ratings, locals: { score: :overall_average } %>
<%= render partial: "tenancies/rating_card", object: @unit.ratings, locals: { score: :repairs_average } %>
</div>

<%if @tenancies.present? %>
  <h3>Past Records</h3>

  <table>
    <thead>
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Landlord</th>
        <th>Rent</th>
        <th>Rating</th>
      </tr>
    </thead>
    <tbody>
      <% @tenancies.each do |tenancy| %>
      <tr>
        <td><%= tenancy.start_date %></td>
        <td><%= tenancy.end_date %></td>
        <td><%= link_to tenancy.landlord.name, [:union, tenancy.landlord] %></td>
        <td><%= composite_rent(tenancy) %></td>
        <td><% if tenancy.overall.present? %><%= rating_icon(tenancy.overall) %> / <%= rating_icon(tenancy.repairs) %><% end %></td>
      </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<h3>Reviews of this Unit</h3>
<%= render partial: "union/tenancies/review_card", collection: @tenancies %>

<%= render("shared/edit_button", target: edit_union_unit_path(@unit)) if can? :edit, @unit %>
<%= render "shared/back_button" %>
