<%= link_to 'Edit Profile', profile_edit_path, class: "ui button blue" %> <%= link_to 'Account Settings', edit_user_registration_path, class: "ui button orange" %>

<div class="ui card">
  <div class="content">
    <div class="header">
      <%= current_user.email %>
    </div>
    <div class="meta">
      <%= current_user.role %>
    </div>
    <div class="description">
      <ul>
        <li>Race: <%= current_user.race %></li>
        <li>Gender: <%= current_user.gender %></li>
      </ul>
    </div>
  </div>
</div>


<% if @leases.present? %>
<h2>My Leases</h2>
<table>
<% @.each do |lease| %>
  <tr>
    <td><%= link_to lease.landlord.name, lease.landlord %></td>
    <td><%= link_to lease.unit.address, lease.unit %></td>
    <td><%= composite_rent(lease) %></td>
    <td><%= lease.start_date.strftime('%Y') %><%= lease.end_date&.strftime(' - %Y') %></td>
    <td><%= render partial: "union/leases/lease_rating", object: lease %></td>
    <td><%= link_to 'Show', [:union, lease] %></td>
    <td><%= edit_link(edit_union_lease_path(lease)) if can?(:edit, lease) %></td>
    <td><%= destroy_link(lease) if can?(:destroy, lease) %></td>
  </tr>
<% end %>
</table>
<% end %>