<% grade = rating_grade(rating_card.send(score), nil) %>

<div class="<%= "grade-#{grade}" %>">
  <%= rating_grade(rating_card.send(score), nil) %>
  <p>
    <%= score.to_s.gsub('_', ' ').capitalize %>
  </p>
  <p>
    <%= rating_card.send(score).round(2) %> / 3.0  (<%= rating_card.size %> reviews)
  </p>
</div>