<p id="notice"><%= notice %></p>

<h1>Ratings</h1>

<table>
  <thead>
    <tr>
      <th>Landlord</th>
      <th>Overall</th>
      <th>Repairs</th>
      <th>Review</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @ratings.each do |rating| %>
      <tr class="<%= 'mine' if current_user && rating.tenancy.tenant == current_user %>">
        <td><%= link_to rating.landlord.name, [:union, rating.landlord] %></td>
        <td><%= rating_icon(rating.overall) %></td>
        <td><%= rating_icon(rating.repairs) %></td>
        <td><%= rating.review[0..300] %></td>
        <td><%= link_to 'Show', rating %></td>
        <td><%= edit_link(edit_union_tenancy_rating_path(params.fetch(:tenancy_id),rating)) if can?(:edit, rating) %></td>
        <td><%= destroy_link([@tenancy, rating]) if can?(:destroy, rating) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rating', new_union_tenancy_rating_path(@tenancy) %>
