<p id="notice"><%= notice %></p>

<h1><%= current_user.email %></h1>
<%= link_to 'Edit Profile', profile_edit_path %> | <%= link_to 'Account Settings', edit_user_registration_path %>
<dl>
  <dt>Race</dt>
  <dd><%= current_user.race %>

  <dt>Gender</dt>
  <dd><%= current_user.gender %></dd>
</dl>

<h2>My Tenancies</h2>
<table>
<% @tenancies.each do |tenancy| %>
  <tr>
    <td><%= link_to tenancy.landlord.name, [:union, tenancy.landlord] %></td>
    <td><%= link_to tenancy.unit.address, [:union, tenancy.unit] %></td>
    <td><%= composite_rent(tenancy) %></td>
    <td><%= tenancy.start_date.strftime('%Y') %><%= tenancy.end_date&.strftime(' - %Y') %></td>
    <td><%= render partial: "union/tenancies/tenancy_rating", object: tenancy %></td>
    <td><%= link_to 'Show', [:union, tenancy] %></td>
    <td><%= edit_link(edit_union_tenancy_path(tenancy)) if can?(:edit, tenancy) %></td>
    <td><%= destroy_link(tenancy) if can?(:destroy, tenancy) %></td>
  </tr>
<% end %>
</table>