<%= form_with(model: [@tenancy, rating], local: true, class: 'ui form') do |form| %>
  <% if rating.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

      <ul>
        <% rating.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    Landlord: <%= @tenancy.landlord.name %>
    Unit: <%= @tenancy.unit %>
  </div>

  <div class="field">
    <%= form.label :overall, "Overall Rating", for: 'overall' %>
    <div class="rating">
      <%= form.collection_radio_buttons :overall, [['-1', icon('fas', "frown", 'Poor')] ,['0', icon('fas', "meh", 'OK',)], ['1', icon('fas', "smile", "Good")]], :first, :last %>
    </div>
  </div>

  <div class="field">
    <%= form.label :repairs, "Repairs (if applicable)", for: 'repairs' %>
    <div class="rating">
      <%= form.collection_radio_buttons :repairs, [['-1', icon('fas', "frown", 'Poor')] ,['0', icon('fas', "meh", 'OK',)], ['1', icon('fas', "smile", "Good")], ['', icon('fas', 'comment-slash', 'N/A')]], :first, :last %>
    </div>
  </div>

  <div class="field">
    <%= form.label :review %>
    <%= form.text_area :review %>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui button' %>
  </div>
<% end %>
