<% 
  rating_score = rating_card.send(score)
  grade = rating_grade(rating_score, nil) 
  colors = { "A" => "blue", "B" => "green", "C" => "yellow", "D" => "orange", "F" => "red" }
%>


<div class="ui card">
  <div class="content">
    <div class="header"><%= score.to_s.gsub('_', ' ').capitalize %></div>
  </div>
  <div class="content">
    <a class="ui massive circular label <%= colors[grade] %>">
      <%= rating_grade(rating_score, nil) %>
    </a>
    <p class="ui floated right">
      <% if rating_score %>
        <%= rating_score.round(2) %> / 3.0  (<%= rating_card.size %> reviews)
      <% else %>
        No reviews yet!
      <% end %>
  </p>
  </div>

</div>