<h2>Reviews</h2>
<table>
  <thead>
    <tr>
      <th>Date Range</th>
      <th>Overall</th>
      <th>Repairs</th>
      <th>Brief</th>
  </thead>
  <tbody>
  <% review_table.each do |tenancy| %>
    <tr>
      <td><%= tenancy.start_date.strftime('%Y') %><%= tenancy.end_date&.strftime(' - %Y') %></td>
      <td><%= rating_icon(tenancy.rating.overall) %></td>
      <td><%= rating_icon(tenancy.rating.repairs) %></td>
      <td><%= tenancy.rating.review[0..300] %> (<%= link_to 'Read Full', rating_path(tenancy.rating) %>)</td>
    </tr>
  <% end %>
  </tbody>
</table>