<p id="notice"><%= notice %></p>

<h1>Review for <%= @rating.unit.address %></h1>
<p><em><%= @rating.tenancy.start_date.strftime('%Y') %><%= @rating.tenancy.end_date&.strftime(' - %Y') %></em></p>

<p>
  <strong>Landlord:</strong>
  <%= link_to @rating.landlord.name, @rating.landlord %>
</p>

<p>
  <strong>Overall:</strong>
  <%= rating_icon @rating.overall %>
</p>

<p>
  <strong>Repairs:</strong>
  <%= rating_icon @rating.repairs %>
</p>

<p>
  <strong>Review:</strong>
  <%= @rating.review %>
</p>

<%= link_to 'Back', ratings_path %>
