<h1>Review for <%= @rating.unit.address %></h1>
<p>
  <strong>Landlord:</strong>
  <%= link_to @rating.landlord.name, @rating.landlord %>
</p>

<div class="ui horizontal segments">
  <div class="ui segment">
    <p>
      <strong>Overall:</strong> <%= rating_icon @rating.overall %>
    </p>
  </div>
  <div class="ui segment">
    <p>
      <strong>Repairs:</strong> <%= rating_icon @rating.repairs %>
    </p>    
  </div>
</div>

<p class="ui segment">
  <strong>Review:</strong>
  <%= @rating.public_review %>
</p>

<%= render "shared/back_button" %>
