<%= form_with(model: [:union, tenancy], local: true, class: 'ui form') do |form| %>
  <% if tenancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenancy.errors.count, "error") %> prohibited this tenancy from being saved:</h2>

      <ul>
        <% tenancy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :unit_id %>
    <%= form.collection_select :unit_id, @units, :id, :address %>
  </div>

  <div class="field">
    <%= form.label :rent %>
    <%= form.text_field :rent %>
  </div>

  <div class="field">
    <%= form.label :landlord_id %>
    <%= form.collection_select :landlord_id, @landlords, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, include_blank: true %>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui button' %>
  </div>
<% end %>
