<%= form_with(model: [:union, tenancy], local: true, class: 'ui form') do |form| %>
  <% if tenancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenancy.errors.count, "error") %> prohibited this tenancy from being saved:</h2>

      <ul>
        <% tenancy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :unit_id, "Address" %>
    <%= form.search_field :unit_address, placeholder: "Street Address...", value: form.object.unit_address, id: "unit_autocomplete", data: { behavior: "autocomplete" } %>    
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field">
          <%= form.label :rent_portion do %>
            <span>The portion of rent you pay</span>
            <%= form.text_field :rent_portion %>
          <% end %>
      </div>

      <div class="field">
        <%= form.label :rent_total do %>
          <span>The total monthly rent</span>
          <%= form.text_field :rent_total %>
        <% end %>
      </div>
    </div>
  </div>

  <div class="field">
    <%= form.label :landlord_id, "Landlord" %>
    <%= form.search_field :landlord_name, placeholder: "Enter name...", value: form.object.landlord_name, id: "landlord_autocomplete", data: { behavior: "autocomplete" } %>    
  </div>

  <div class="field">
    <div class="two fields">
      <div class="field">
        <%= form.label :start_date do %>
          <span>Start Date</span>
          <%= form.date_field :start_date %>
        <% end %>
      </div>

      <div class="field">
        <%= form.label :end_date do %>
          <span>End Date</span>
          <%= form.date_field :end_date, include_blank: true %>
        <% end %>
      </div>
    </div>
  </div>

    <div class="field">
      <div class="two fields">
      <div class="field rating">
        <%= form.label :overall, "Overall Rating" %>
        <%= form.collection_radio_buttons :overall, [['0', icon('fas', "angry", 'Awful')] ,['1', icon('fas', "frown", 'Poor')], ['2', icon('fas', 'meh', 'OK')], ['3', icon('fas', "smile", "Good")]], :first, :last %>
      </div>

      <div class="field rating">
        <%= form.label :repairs, "Repairs Rating" %>
        <%= form.collection_radio_buttons :repairs, [['0', icon('fas', "angry", 'Awful')] ,['1', icon('fas', "frown", 'Poor')], ['2', icon('fas', 'meh', 'OK')], ['3', icon('fas', "smile", "Good")], ['', icon('fas', 'comment-slash', 'N/A')]], :first, :last %>
      </div>
    </div>

    <div>
    <%= form.label :public_review do %>
      <span><strong>Public:</strong> This text will be visible to everyone, including users who are not signed-in</span>
      <%= form.text_area :public_review %>
    <% end %>
  </div>

    <div>
    <%= form.label :private_review do %>
      <span><strong>Private</strong>: This Text Will Only Be Visible by Union Members, who are signed-in</span>
      <%= form.text_area :private_review %>
    <% end %>
  </div>

  <div>
    <%= form.submit "Save", class: "ui button green" %>
  </div>
<% end %>
