<%= form_with(model: [:union, tenancy], local: true, class: 'ui form') do |form| %>
  <% if tenancy.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tenancy.errors.count, "error") %> prohibited this tenancy from being saved:</h2>

      <ul>
        <% tenancy.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :unit_id %>
    <%= form.collection_select :unit_id, @units, :id, :address %>
  </div>

  <div class="field">
    <%= form.label :rent_total, "The total monthly rent" %>
    <%= form.text_field :rent_total %>
  </div>

  <div class="field">
    <%= form.label :rent_portion, "The portion of rent you pay" %>
    <%= form.text_field :rent_portion %>
  </div>

  <div class="field">
    <%= form.label :landlord_id %>
    <%= form.collection_select :landlord_id, @landlords, :id, :name %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_field :start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.date_field :end_date, include_blank: true %>
  </div>

  <div class="field">
    <%= form.label :overall, "Overall Rating", for: 'overall' %>
    <div class="rating">
      <%= form.collection_radio_buttons :overall, [['0', icon('fas', "angry", 'Awful')] ,['1', icon('fas', "frown", 'Poor')], ['2', icon('fas', 'meh', 'OK')], ['3', icon('fas', "smile", "Good")]], :first, :last %>
    </div>
  </div>

  <div class="field">
    <%= form.label :repairs, "Repairs (if applicable)", for: 'repairs' %>
    <div class="rating">
      <%= form.collection_radio_buttons :repairs, [['0', icon('fas', "angry", 'Awful')] ,['1', icon('fas', "frown", 'Poor')], ['2', icon('fas', 'meh', 'OK')], ['3', icon('fas', "smile", "Good")], ['', icon('fas', 'comment-slash', 'N/A')]], :first, :last %>
    </div>
  </div>

  <div class="field">
    <%= form.label :public_review, "This text will be visible to everyone, including users who are not signed-in" %>
    <%= form.text_area :public_review %>
  </div>

  <div class="field">
    <label></label>
    <%= form.label :private_review, "This Text Will Only Be Visible by Union Members, who are signed-in" %>
    <%= form.text_area :private_review %>
  </div>

  <div class="actions">
    <%= form.submit class: 'ui button' %>
  </div>
<% end %>
