<h3 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">Places I've lived</h3>

<table class="w-full whitespace-no-wrap">
  <thead>
    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      <th class="px-4 py-3">Landlord</th>
      <th class="py-3">Unit</th>
      <th class="py-3">Rent</th>
      <th class="py-3">Date</th>
      <th class="py-3">Rating</th>
      <th class="py-3" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
    <% @my_tenancies.each do |tenancy| %>
      <tr class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3"><%= link_to tenancy.landlord.name, [:union, tenancy.landlord] %></td>
        <td class="py-3"><%= link_to tenancy.unit.address, [:union, tenancy.unit] %></td>
        <td class="py-3"><%= composite_rent(tenancy) %></td>
        <td class="py-3"><%= tenancy.start_date.strftime('%Y') %><%= tenancy.end_date&.strftime(' - %Y') %></td>
        <td class="py-3"><%= render partial: "tenancy_rating", object: tenancy %></td>
        <td class="py-3"><%= link_to 'Show', [:union, tenancy] %></td>
        <td class="py-3"><%= edit_link(edit_union_tenancy_path(tenancy)) if can?(:edit, tenancy) %></td>
        <td class="py-3"><%= destroy_link(tenancy) if can?(:destroy, tenancy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= render "shared/new_button", target: new_union_tenancy_path %>

<h3 class="mb-4 text-lg font-semibold text-gray-600 dark:text-gray-300">Other People</h3>
<table class="w-full whitespace-no-wrap">
  <thead>
    <tr class="text-xs font-semibold tracking-wide text-left text-gray-500 uppercase border-b dark:border-gray-700 bg-gray-50 dark:text-gray-400 dark:bg-gray-800">
      <th class="px-4 py-3">Landlord</th>
      <th class="py-3">Unit</th>
      <th class="py-3">Rent</th>
      <th class="py-3">Date</th>
      <th class="py-3">Rating</th>
      <th class="py-3" colspan="3"></th>
    </tr>
  </thead>

  <tbody class="bg-white divide-y dark:divide-gray-700 dark:bg-gray-800">
    <% @other_tenancies.each do |tenancy| %>
      <tr class="text-gray-700 dark:text-gray-400">
        <td class="px-4 py-3"><%= link_to tenancy.landlord.name, [:union, tenancy.landlord] %></td>
        <td class="py-3"><%= link_to tenancy.unit.address, [:union, tenancy.unit] %></td>
        <td class="py-3"><%= composite_rent(tenancy) %></td>
        <td class="py-3"><%= tenancy.start_date.strftime('%Y') %><%= tenancy.end_date&.strftime(' - %Y') %></td>
        <td class="py-3"><%= render partial: "tenancy_rating", object: tenancy %></td>
        <td class="py-3"><%= link_to 'Show', [:union, tenancy] %></td>
        <td class="py-3"><%= edit_link(edit_union_tenancy_path(tenancy)) if can?(:edit, tenancy) %></td>
        <td class="py-3"><%= destroy_link(tenancy) if can?(:destroy, tenancy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

