<p id="notice"><%= notice %></p>

<h1>Places I've Lived</h1>

<table>
  <thead>
    <tr>
      <th>Tenant</th>
      <th>Landlord</th>
      <th>Unit</th>
      <th>Rent</th>
      <th>Date</th>
      <th>Rating</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tenancies.each do |tenancy| %>
      <tr>
        <td><%= tenancy.tenant %></td>
        <td><%= link_to tenancy.landlord.name, [:union, tenancy.landlord] %></td>
        <td><%= link_to tenancy.unit.address, [:union, tenancy.unit] %></td>
        <td><%= tenancy.rent %></td>
        <td><%= tenancy.start_date.strftime('%Y') %><%= tenancy.end_date&.strftime(' - %Y') %></td>
        <td><%= render partial: "tenancy_rating", object: tenancy %></td>
        <td><%= link_to 'Show', [:union, tenancy] %></td>
        <td><%= edit_link(edit_union_tenancy_path(tenancy)) if can?(:edit, tenancy) %></td>
        <td><%= destroy_link(tenancy) if can?(:destroy, tenancy) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tenancy', new_union_tenancy_path %>
