  <h3>
    Period: <%= @tenancy.start_date %> - <%= @tenancy.end_date || "Present" %>
  </h3>
  <article>
    <div>
      <p>
        Unit: <%= link_to @tenancy.unit.address, @tenancy.unit %></p>
      <p>
        Landlord: <%= link_to @tenancy.landlord.name, @tenancy.landlord  %></p>
      <p>
        Period: <%= @tenancy.start_date %> - <%= @tenancy.end_date || "Present" %></p>
      <p>
        Rent: <%= composite_rent(@tenancy) %></p>
      <p>
        Rating: <%= rating_icon(@tenancy.overall) %> / <%= rating_icon(@tenancy.repairs) %></p>
    </div>
  </article>

  <%= render partial: "union/tenancies/review_card", object: @tenancy %>

<%= render("shared/edit_button", target: edit_union_tenancy_path(@tenancy)) if can? :edit, @tenancy %>
<%= render "shared/back_button" %>
  