<h1>Tenancy</h1>

<dl>
</dt>Tenant</dt>
<dd><%= @tenancy.tenant == current_user ? "Me" : @tenancy.tenant.to_s %></dd>

<dt>Unit</dt>
<dd><%= link_to @tenancy.unit.address, [:union, @tenancy.unit] %></dd>

<dt>Rent</dt>
<dd><%= @tenancy.rent %></dd>

<dt>Landlord</dt>
<dd><%= link_to @tenancy.landlord.name, [:union, @tenancy.landlord] %></dd>

<dt>Period</dt>
<dd><%= @tenancy.start_date %> - <%= @tenancy.end_date %></dd>

  <% if @tenancy.present? %>
<dt>Rating</dt>
<dd>

  <%= rating_icon(@tenancy.overall) %> / <%= rating_icon(@tenancy.repairs) %>
    
  </dd>
  <% end %>

<dt>Public Review</dt>
<dd>
  <%= @tenancy.public_review %>
</dd>

<dt>Private Review</dt>
<dd>
  <%= @tenancy.private_review %>
</dd>
</dl>

<% if can? :edit, @tenancy %>
  <%= link_to "Edit", [:edit, :union, @tenancy] %> | <%= link_to "View All", union_tenancies_path %>
  <% end %>