<p id="notice"><%= notice %></p>

<h1><%= @unit.address %></h1>

<h2>Landlord(s)</h2>
<ul>
  <% @unit.landlords.each do |landlord| %>
    <li><%= link_to landlord.name, landlord %> (Average Rating: <%= rating_icon(clamp_rating(landlord.ratings.overall_average)) %> | Reviewed <%= landlord.ratings.size %> times )</li>
  <% end %>
</ul>

<%= render partial: "ratings/review_table", object: @unit.ratings %>


<%= link_to 'Back', units_path %>
