<p id="notice"><%= notice %></p>

<h1>Landlords</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Overall</th>
      <th>Repairs</th>
      <th>Reviews</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @landlords.each do |landlord| %>
      <tr>
        <td><%= landlord.name %></td>
        <%= rating_grade(landlord.ratings.overall_average, :td) %>
        <%= rating_grade(landlord.ratings.repairs_average, :td) %>
        <td><%= landlord.tenancies.with_ratings.size %></td>
        <td><%= link_to 'Show', landlord %></td>
      </tr>
    <% end %>
  </tbody>
</table>