<p id="notice"><%= notice %></p>

<h1><%= @landlord.name %></h1>

<h2>Known Units</h2>
<ul>
<% @units.each do |unit| %>
  <li><%= link_to unit.address, unit %> (Average Rating: <%= rating_icon(clamp_rating(@landlord.ratings.overall_average)) %> | Reviewed <%= @landlord.ratings.size %> times )</li>
<% end %>
</ul>

<%= render partial: "tenancies/review_table", object: @landlord.tenancies %>

<%= link_to 'Back', landlords_path %>
