<div class="ui cards">
<%= render partial: "tenancies/rating_card", object: @landlord.ratings, locals: { score: :overall_average } %>
<%= render partial: "tenancies/rating_card", object: @landlord.ratings, locals: { score: :repairs_average } %>
</div>


<h2>Known Units</h2>
<div class="ui cards">
  <%= render partial: "units/unit_card", collection: @units %>
</div>

<%= render partial: "tenancies/review_table", object: @landlord.tenancies %>

<%= render partial: "shared/back_button" %>
