<!-- Desktop sidebar -->
<nav>
  <%= link_to "Home", root_path %>

  <ul>
    <li>
      <%= render partial: "shared/nav_link", locals: { target: root_path, text: "Dashboard", icon: ['fas', 'tachometer-alt'] } %>
    </li>
    
<% if current_user %>
    <li><ul class="union">
      <li>
        <%= render "shared/nav_link", target: union_landlords_path, text: "Landlords", icon: ['fas', 'user-tie'], private: true %>
      </li>
      <li>
        <%= render "shared/nav_link", target: union_units_path, text: "Units", icon: ['fas', 'home'], private: true %> 
      </li>
      <li>
        <%= render "shared/nav_link", target: union_tenancies_path, text: "Tenancies", icon: ['fas', 'file-signature'], private: true %>
      </li>
    </ul></li>
<% else %>
    <li><ul class="public">
      <li>
        <%= render "shared/nav_link", target: landlords_path, text: "Landlords" %>
      </li>
      <li>
        <%= render "shared/nav_link", target: units_path, text: "Units" %>
      </li>
      <li>
        <%= render "shared/nav_link", target: ratings_path, text: "Reviews" %>
      </li>
    </ul></li>
<% end %>
    <li><ul class="account">
<% if current_user %>
      <li>
        <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
      </li>
<% else %>
      <li>
        <%= render "shared/nav_link", target: new_user_session_path, text: "Log In" %>
      </li>
      <li>
        <%= render "shared/nav_link", target: new_user_registration_path, text: "Create Account" %>
      </li>
  </ul>
<% end %>
    </ul></li>
</nav>