<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=2, user-scalable=no"
    />
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Organizr - Ithaca Tenants' Union</title>
  <meta name="author" content="@armahillo">
  <meta name="description" content="organizing tool for ithaca tenants' union">
  <meta name="keywords" content="tenant,union,organizing,ithaca">
  <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('favicons/apple-touch-icon.png') %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('favicons/favicon-32x32.png') %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('favicons/favicon-16x16.png') %>">
  <link rel="manifest" href="<%= image_path('favicons/site.webmanifest') %>">
  <link rel="mask-icon" href="<%= image_path('favicons/safari-pinned-tab.svg') %>" color="#5bbad5">
  <link rel="shortcut icon" href="<%= image_path('favicons/favicon.ico') %>">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="msapplication-config" content="<%= image_path('favicons/browserconfig.xml') %>">
  <meta name="theme-color" content="#ffffff">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= content_for?(:head) ? yield(:head) : '' %>
    <%=# stylesheet_pack_tag "application", "data-turbo-track": "reload" 
    %>
  </head>


  <body id="<%= params[:controller] %>" class="<%= params[:action] %>">

    <%= content_for?(:content) ? yield(:content) : yield %>

    <div class="ui inverted vertical footer segment">
    </div>
  </body>
</html>
