<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Organizr - Ithaca Tenants' Union</title>
  <meta name="author" content="@armahillo">
  <meta name="description" content="organizing tool for ithaca tenants' union">
  <meta name="keywords" content="tenant,union,organizing,ithaca">

<%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
<link rel="stylesheet" href="https://rsms.me/inter/inter.css">

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= content_for?(:head) ? yield(:head) : '' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>


  <body id="<%= params[:controller] %>" class="<%= params[:action] %>">

    <%= content_for?(:content) ? yield(:content) : yield %>
  </body>
</html>
