<% content_for(:head) do %>
  <style type="text/css">
    body {
      background-color: #ffffff;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: grayscale;
    }

    .ui.menu .item img.ui.mini.image {
      margin-right: 1.5em;
    }

    .ui.main.text.container {
      margin-top: 7em;
    }

    .ui.main.text.container .ui.image {
      margin-top: 2em;
    }

    .ui.footer.segment {
      margin: 5em 0em 0em;
      padding: 5em 0em;
    }
  </style>
<% end %>

<% content_for(:content) do %>
  <%= render partial: "layouts/topnav" %>


  <div class="ui main text container">
  <!-- <main> -->
    <%= render "layouts/flash_hash" %>

      <h2><%= @title || "" %></h2>
      <%= yield %>

<!-- </main> -->
  </div>
<% end %>
<%= render template: "layouts/application" %>