<% content_for(:head) do %>
<% end %>

<% content_for(:content) do %>
  <%= render partial: "layouts/sidenav" %>


  <%= render partial: "layouts/topnav" %>
  <main>
    <% flash.each do |type, msg| %>
      <%= render partial: "shared/alerts/#{type.to_s}", object: msg %>
    <% end %>

      <h2><%= @title || "" %></h2>
      <%= yield %>

  </main>
<% end %>
<%= render template: "layouts/application" %>